@import 'uikit/src/scss/variables.scss';
@import 'uikit/src/scss/mixins.scss';

$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;

@import 'uikit/src/scss/uikit.scss';

#root {
  margin: 0 auto;
  padding: 2rem;
}
